<div class="main-wrapper">
    <header class="header-area transparent-bar section-padding-1" style="">
        <div class="container-fluid">
            <div class="header-large-device">
                <div class="header-top header-top-ptb-1 border-bottom-1">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5">
                            <div class="header-offer-wrap">
                                <p><i class="icon-paper-plane"></i> FREE SHIPPING world wide for all orders
                                    <span></span>
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7">
                            <div class="header-top-right">
                                <div class="same-style-wrap">
                                    <div class="same-style same-style-border track-order">

                                    </div>



                                    <div class="same-style same-style-border currency-wrap">

                                        {{!-- user login logout button --}}
                                        {{#if login}}
                                        <a class="currency-dropdown-active" href=""> {{login.Name}}</a>
                                        {{else}}
                                        <a class="currency-dropdown-active" href=""><i class="icon-user"
                                                style="font-size: 25px; "></i></a>
                                        {{/if}}
                                        <div class="currency-dropdown">
                                            <ul>
                                                {{#if login}}
                                                <li><a href="/logout">Logout</a></li>
                                                <li><a href="/account">Account</a></li>
                                                {{else}}
                                                <li><a href="/login-register">Login</a></li>
                                                <li><a href="/login-register">Register</a></li>
                                                {{/if}}

                                            </ul>
                                        </div>
                                    </div>




                                </div>
                                <div class="social-style-1 social-style-1-mrg">
                                    <a href="#"><i class="icon-social-twitter"></i></a>
                                    <a href="#"><i class="icon-social-facebook"></i></a>
                                    <a href="#"><i class="icon-social-instagram"></i></a>
                                    <a href="#"><i class="icon-social-youtube"></i></a>
                                    <a href="#"><i class="icon-social-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="/"><img class="mb-5" style="width: 100px; height: 100px;"
                                        src="/images/logo2.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7">
                            <div class="main-menu main-menu-padding-1 main-menu-lh-1">
                                <nav>
                                    <ul>
                                        <li><a href="/">HOME </a>

                                        </li>
                                        <li><a href="/shop">SHOP </a>

                                        </li>
                                        <li><a href="">PAGES </a>
                                            <ul class="sub-menu-style">
                                                <li><a href="/cart">cart page</a></li>
                                                <li><a href="/account">my account</a></li>
                                                <li><a href="/whishlist">wishlist </a></li>

                                            </ul>
                                        </li>

                                        <li><a href="/contact">CONTACT </a>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3">
                            <div class="header-action header-action-flex header-action-mrg-right">




                                <div class="same-style-2">

                                    <a class="" href="/whishlist">

                                        <i class="icon-heart"></i><small><span style="" id="whishlistcount"
                                                class="badge bg-danger ">{{whishlistCount}}</span></small>


                                    </a>
                                </div>
                                <div class="same-style-2 header-cart">
                                    <a class="" href="/cart">

                                        <i class="icon-basket-loaded"></i> <small><span style="" id="cartcount"
                                                class="badge bg-danger ">{{cartCount}}</span></small>


                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!------------- header small device -----------------}}

            <div class="header-small-device small-device-ptb-1">
                <div class="row align-items-center">
                    <div class="col-5">
                        <div class="mobile-logo">
                            <a href="index.html">
                                <img alt="" style="width:100px ; height:100px ;" src="/images/logo2.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="header-action header-action-flex">

                            <div class="same-style-2">

                                <a class="cart-active" href="/whishlist">


                                    <i class="icon-heart"></i> <small><span style="" id="whishlistcount"
                                            class="badge bg-danger ">{{whishlistCount}}</span></small>

                                </a>
                            </div>
                            <div class="same-style-2 header-cart">
                                <a class="" href="/cart">

                                    <i class="icon-basket-loaded"></i> <small><span style="" id="cartcount"
                                            class="badge bg-danger ">{{cartCount}}</span></small>

                                </a>
                            </div>
                            <div class="same-style-2 main-menu-icon">
                                <a class="mobile-header-button-active" href=""><i class="icon-menu"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- mini cart start -->




    <!-- Mobile menu start -->
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="clickalbe-sidebar-wrap">
            <a class="sidebar-close"><i class="icon_close"></i></a>
            <div class="mobile-header-content-area">
                <div class="header-offer-wrap mobile-header-padding-border-4">
                    <p><i class="icon-paper-plane"></i> FREE SHIPPING world wide for all orders <span></span>
                    </p>
                </div>

                <div class="mobile-menu-wrap mobile-header-padding-border-2">

                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><a href="/">HOME</a>

                            </li>
                            <li class="menu-item-has-children "><a href="/shop">SHOP</a>

                            </li>
                            <li class="menu-item-has-children"><a href="">Pages</a>
                                <ul class="dropdown">

                                    <li><a href="/cart">cart page</a></li>
                                    <li><a href="/account">my account</a></li>
                                    <li><a href="/whishlist">wishlist </a></li>

                                </ul>
                            </li>


                        </ul>
                    </nav>
                    <!-- mobile menu end -->

                </div>
                <div class="mobile-header-info-wrap mobile-header-padding-border-3">
                    <div class="single-mobile-header-info">
                    </div>

                    <div class="single-mobile-header-info">
                        <a class="mobile-currency-active" href="#"><i class="icon-user"
                                style="font-size: 25px; "></i></a>
                        <div class="lang-curr-dropdown curr-dropdown-active">
                            <ul>
                                <li><a href="/login-register">Login</a></li>
                                <li><a href="/login-register">Register</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mobile-contact-info mobile-header-padding-border-4">
                    <ul>
                        <li><i class="icon-phone "></i> (+612) 2531 5600</li>
                        <li><i class="icon-envelope-open "></i> norda@domain.com</li>
                        <li><i class="icon-home"></i> PO Box 1622 Colins Street West Australia</li>
                    </ul>
                </div>
                <div class="mobile-social-icon">
                    <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                    <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                    <a class="pinterest" href="#"><i class="icon-social-pinterest"></i></a>
                    <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>